.FoundingWebDevs {
    width: 100vw;
    height: auto;
    background: #B92C2C;
    /* display: flex; */
    box-sizing: border-box;
    padding: 0px 10px 15px 10px;
    margin: auto;
    text-align: center;

}

.sectionTitle {
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.2em;
    color: white;
    font-size: 28.8px;
    padding: 20px 0px;
    font-weight: 100;
}

.cardsContainer {
    width: 100%;
    height: auto;
    display: flex;
    max-width: 1400px;
    padding: 0 10px;
    margin: auto;
    /* padding: 0px; */
    /* padding: 10px; */
    /* max-height: 300px; */
    
    box-sizing: border-box;
    /* margin-bottom: 20px; */
}

@media only screen and (max-width: 999px) {
    .cardsContainer {
        flex-wrap: wrap;
    }

    

  }


@media only screen and (max-width: 700px) {
    .FoundingWebDevs {
        padding-left: 10px;
        padding-right: 10px
    }

    .cardsContainer {
        padding: 0 15px;
    }
}


