/* //fonts.googleapis.com/css?family=Open+Sans%3A400%2C700%2C300%2C800&ver=5.0.3 */



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header___2zG4F {
    background: #000000;
    width: 100vw;
    height: auto;
    text-align: center;
    padding: 40px 0;
}

.headerImage___39JUm {
    width: 225px;
}
.navbar___1D1Io {
  width: 100vw;
  background: #333333;

  display: flex;
  font-weight: 300;
  position: relative;

  /* border-bottom: 0px; */
  /* box-sizing: border-box; */
  min-height: 41px;
}
.hamburgerMenu___3SwrA {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px 3%;
  cursor: pointer;
}

.mobileNav___3ZoxQ {
  width: 100vw;
  background: black;
  display: flex;
  flex-direction: column;
  /* border-bottom: 3px #b92c2c solid; */
  overflow: hidden;
  border-bottom: 0px;
  transition: max-height  1s;
  
}

.showMobileDropDown___b0Zg- {
    max-height: 600px;
    /* border-bottom: 3px #b92c2c solid; */
   
}

.showBorderBottom___33mHM {
    border-bottom: 3px #b92c2c solid;
}

.hideBorderBottom___2aUxy {
    border-bottom: 0px; 
}

.hideMobileDropDown___3gYMS{
    max-height: 0; 

}



.mobileNavLink___1hbER {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px 40px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  color: #ffffffb7;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 851px) {
  .hamburgerMenu___3SwrA,
  .mobileNav___3ZoxQ {
    display: none;
  }


  .navbar___1D1Io {
    border-bottom: 3px #b92c2c solid;
    /* background: #333333; */
  }
}

.navLink___3yIhK {
  /* background: #B92C2C; */
  text-transform: uppercase;
  /* font-weight: 300; */
  /* color: rgb(255, 255, 255); */
  color: #ffffffbe;
  padding: 10px 40px;
  white-space: nowrap;
  text-decoration: none;
  /* font-size: 16px; */
}

@media only screen and (max-width: 850px) {
  .navLink___3yIhK {
    display: none;
  }
}

.navLink___3yIhK:hover {
  background: #b92c2c;
}



* {
    box-sizing: border-box;
}

.MainSection___1kg8l {
    position: relative;
    width: 100vw;
    height: 541.781px;
}

@media only screen and (max-width: 1170px) {
    .MainSection___1kg8l {
      display: none;
    }
  }

.content___1Wplj {
    padding: 100px;
    margin: auto;
    z-index: 23333;
    height: 100%;
    width: 100%;
}


.inner___1yiQk {
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 9999;
}

.tagline___2U3eU {
    max-width: 860px;
    font-size: 80px;
    font-weight: 900 !important;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    color: white;
    z-index: 99999999;
    position: relative;
    font-family: 'Open Sans', sans-serif !important;
    line-height: 1.2;
    
}

.tagline___2U3eU:hover {
    opacity: .5;
}

.description___2XfR4{
    text-align: center;
    width: 100%;
    height: auto;
    margin: auto;
    color: white;
    z-index: 9999999999999999;
    text-shadow: 0 1px 3px rgba(0,0,0,0.1);
    line-height: 1.2;
    margin: 0 auto 14px;
    margin-bottom: 20px;
    width: 90%;
    position: relative;
    font-size: 20px;
    max-width: 750px;
    font-family: 'Open Sans', sans-serif !important;
    margin-top: 22px;
    line-height: 1.4;
    color: #ffffffc5;
}
.video___1Suik {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  bottom: auto;
  right: auto;
  top: -10%;
  z-index: -1;
  /* background-color: rgba(0,0,0,0.6); */

}

.videoWrapper___ZtuaF {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
    /* z-index: -1; */

}

.button___4ZD5v {
    display: inline-block;
    padding: 1.2em 1.4em;
    margin-top: .8em;
    box-shadow: 3px 3px rgba(125,125,125,0.2);
    background-color: #B92C2C;
    /* font-size: 1.3rem; */
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffffffd3;
    text-transform: uppercase;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    position: relative;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif !important;
    text-decoration: none;

}

.button___4ZD5v:hover {
    opacity: .5;
}
.FullWidth___V7UDA {
  width: 100vw;
  padding-bottom: 100px;
}

.hireOurTeam___5oxrW {
  background: #333;
  height: auto;
  color: #fff;
  padding: 100px 0;
}

.sectionTitle___1698l {
  text-align: center;
  font-size: 40px;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 100;
  margin-bottom: 20px;
}

.listItem___1z-w5 {
  display: flex;
  text-align: center;
  margin: auto;
  color: #b92c2c;
  font-weight: bold;
  font-size: 19px;

  padding: 0px 10px;
  overflow-wrap: break-word;
  
}

.listItem___1z-w5:hover {
    /* filter: blur(.5px) */
    /* text-shadow: 2px 2px black; */
    /* text-shadow: 2px 2px rgb(43, 27, 27); */
    text-shadow: 1px 1px rgba(0, 0, 0, 0.226);
    cursor: default;
    
}

.listContainer___3ty9S {
  display: flex;
  margin: auto;
  text-align: center;
  max-width: 960px;
  font-family: "Open Sans", sans-serif !important;
  font-size: 19px;
  flex-wrap: wrap;
  padding: 0 10px;
}

@media only screen and (max-width: 949px) {
  .listContainer___3ty9S {
    flex-direction: column;
  }

  .FullWidth___V7UDA {
    padding: 50px 0px;
    padding-bottom: 58px;
  }
}

.WhatWeDo___2vTr8 {
  width: 100vw;
  height: auto;
  display: flex;
  box-sizing: border-box;
}

.flexReverse___3Eyl9 {
  flex-direction: row-reverse;
}

.underline___3VqJa {
  text-decoration: underline;
}

.pic___2m8bn {
  width: 50%;
  min-height: 100%;
  border: 1px solid black;
}

.halfContainer___3O4fV {
  width: 50%;
  height: 100%;
  padding: 50px;
  font-family: "Open Sans", sans-serif;
  color: #2c343b;
  font-weight: 300;
}

.what___1Cgkn {
  color: #b92c2c;
  font-weight: 900;
}

.sectionTitle___1zpzf {
  margin-bottom: 40px;
  font-weight: 100;
  font-size: 30px;
}
.paragraph___15buV {
  margin-top: 28px;
  margin-bottom: 28px;
  font-size: 18px;
}

.paragraph___15buV:hover {
    /* background: rgba(206, 188, 188, 0.178); */
   /* text-shadow: 1px 0px  rgba(0, 0, 0, 0.137); */
    /* border-radius: 10px; */
    /* background: rgba(206, 188, 188, 0.068) */
}
@media (max-width: 850px) {
  .pic___2m8bn {
    height: 22px;
    width: 100%;
  }

  .flexNormal___fEdA1 {
    flex-direction: column !important;
  }
  .flexReverse___3Eyl9 {
    flex-direction: column-reverse !important;
  }

  .halfContainer___3O4fV {
    width: 100%;
  }
}

.highlightedWords___VrcVw {
  color: #b92c2c;
  font-weight: bold;
}

.FoundingWebDevs___3HVVq {
    width: 100vw;
    height: auto;
    background: #B92C2C;
    /* display: flex; */
    box-sizing: border-box;
    padding: 10px 0px;
    margin: auto;
    text-align: center;
}

.sectionTitle___Twqi3 {
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.2em;
    color: white;
    font-size: 28.8px;
    padding: 10px 0px;
    font-weight: 100;
}

.cardsContainer___39VkT {
    width: 100%;
    height: auto;
    display: flex;
    max-width: 1400px;
    padding: 0 20px;
    margin: auto;
    /* padding: 10px; */
    /* max-height: 300px; */
    
    box-sizing: border-box;
    /* margin-bottom: 20px; */
}

@media only screen and (max-width: 999px) {
    .cardsContainer___39VkT {
        flex-wrap: wrap;
    }

  }



.ProfileCard___1F_ap {
  width: 25vw;
  height: 25vw;
  /* border: 1px solid black; */
  margin: 10px;
  position: relative;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  box-sizing: border-box;

  max-height: 300px;

  /* margin: auto; */
}

@media only screen and (max-width: 999px) {
  .ProfileCard___1F_ap {
    width: 100vw;
    min-width: 300px;
    min-height: 300px;
  }
}

.profilePic___3JgnL {
  width: 100%;
  max-width: 300px;
  height: 100%;
  text-align: center;
  margin: auto;
}


/* .profilePic:hover {
    opacity: .9;
   box-shadow: 2px 2px rgba(0, 0, 0, 0.123);
} */

.profileDescription___1uw31 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  background: rgba(49, 49, 49, 0.91);
  text-align: center;
  color: #fff;;
  padding: 10px;

}

.profileName___4-gG6 {
  font-size: 20px;
}

.jobDescription___147gM {
  font-style: italic;
  font-size: 12.8px;
  color: rgba(255, 255, 255, 0.678);
}

.container___2TzH0 {
    width: 75%;
    height: auto;
    /* border: 1px solid black; */
    background: #333;
    padding: 50px 20px 100px 20px ;
    /* padding-bottom: 100px; */
    display: flex;
    color: white;
    font-weight: 100;
}

/* .rightHalfContainer {
    padding-top: 20px;
} */

@media only screen and (max-width: 1200px) {

    .container___2TzH0 {
        width: 100%;
    }
    .image___1QwgJ {
        margin: auto;
    }

}


  

.image___1QwgJ {
    width: 435px;
    height: 290px;
    margin-right: 100px;
}



.tagline___2d_N3 {
   font-size: 40px;
   margin-bottom: 20px;
   
   
}

.text___VIAy3 {
    letter-spacing: .8px;
    margin-bottom: 20px;
    margin-block-end: 20px;
}

@media only screen and (max-width: 800px) {

    .container___2TzH0 {
        flex-direction: column;
    }

    .image___1QwgJ {
        margin: auto;
    }

    .tagline___2d_N3 {
        padding-top: 20px;
    }

}
.container___46xvv {
    width: 25%;
    height: auto;
    text-align: center;
    padding: 50px 0;
   
    /* border: 5px solid black; */
}

.sectionTitle___1LSk1 {
    /* text-align: center; */
    font-size: 40px;
    margin-bottom: 15px;
}

.firstWord___VGujA {
    font-weight: 900;
    color: #B92C2C;
}

.articleTitleContainer___2dKQX {
    height: 250px;
    background: #333;
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
    /* text-transform: uppercase; */
    font-size: 24px;
    font-weight: 300;
    
}

@media only screen and (max-width: 1200px) {

    .container___46xvv {
        width: 100%;
    }
   

}

.startupCultureFeaturedPostContainer___2yCGT { 
    display: flex;
     width: 100vw
}

@media only screen and (max-width: 1200px) {

    .startupCultureFeaturedPostContainer___2yCGT {
        flex-direction: column;
    }
   

}

/*# sourceMappingURL=styles.chunk.css.map*/