.container {
    width: 25%;
    height: auto;
    text-align: center;
    padding: 50px 0;
   
    /* border: 5px solid black; */
}

.sectionTitle {
    /* text-align: center; */
    font-size: 40px;
    margin-bottom: 15px;
}

.firstWord {
    font-weight: 900;
    color: #B92C2C;
}

.articleTitleContainer {
    height: 250px;
    background: #333;
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
    /* text-transform: uppercase; */
    font-size: 24px;
    font-weight: 300;
    
}

@media only screen and (max-width: 1200px) {

    .container {
        width: 100%;
    }
   

}
