.sectionContainer {
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background: rgb(255, 255, 255)
}

.itemContainer {
  height: 200px;
  width: 20%;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;
  
}

.disabled {
  pointer-events: none;
  cursor: default;
}


.textContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(175, 77, 86, 0.95);
    transition: opacity .5s;
    opacity: 0;
    left: 0px;
    top: 0px;
    z-index: 1;
    text-align: center;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    
    color: #fff

}

.techUsedContainer {
    /* display: flex; */
    margin-bottom: auto;
    font-size: 10px;
}

.itemTitle {
    margin-top: auto;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px
    
}
.textContainer:hover {
    opacity: 1

}


@media only screen and (max-width: 768px) {
  .itemContainer {
    width: 50%;
  }

  .textContainer {
    display: none;
  }
}
