.navLink {
    /* background: #B92C2C; */
    text-transform: uppercase;
    /* font-weight: 300; */
    /* color: rgb(255, 255, 255); */
    color: #ffffffbe;
    padding: 10px 40px;
    white-space: nowrap;
    text-decoration: none;
    /* font-size: 16px; */
}

.navLink:hover {
    background: #B92C2C;

}